body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow: hidden;
}

.wrapper {
    max-height: 100vh;
}

.background-slider {}

.slick-track {
    display: flex;
}

.wrapper img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    transition: all 0.5 linear;
}



.content-wrapper {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.content {
    position: relative;
    max-width: 1300px;
    margin: 0 auto;
    height: 100%;
}

.conten-row {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

.content-header {
    margin-top: 30px;
}




.content-header__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.content-header__column1 {
    max-width: 150px;
    padding: 0 50px 0 20px;
}

.content-header__image {}

.content-header__image img {
    position: relative;
    max-width: 40%;
    left: 50%;
    transform: translatex(-50%);
}

.content-header__contact {
    text-align: center;
    color: rgb(0, 0, 0);
    letter-spacing: 2px;
    line-height: 22px;
    color: hsl(0, 30%, 94%);
}

.content-header__name {
    font-size: 24px;
}

.content-header__surname {
    font-weight: 900;
    font-size: 30px;
}

.content-header__column2 {}

.content-header__links a {
    display: inline-block;
    text-decoration: none;
    font-weight: 500;
    font-size: 18px;
    line-height: 2px;
    color: hsl(0, 30%, 94%);
}


hr {
    top: 9px;
    left: 5%;
    width: 0px;
    visibility: hidden;
    background-color: hsl(0, 29%, 94%);
    height: 2.5px;
    border-radius: 40%;
    transition: 0.2s ease-in;
    border: none;
}

.content-header__main:hover hr {
    visibility: visible;
    width: 35px;
}

.content-header__portfolio:hover hr {
    visibility: visible;
    width: 80px;
}

.content-header__main,
.content-header__portfolio {
    padding-right: 40px;
    position: relative;
}

.content-header__main span::after {
    content: '★';
    position: absolute;
    left: 57px;

}

.content-header__portfolio span::after {
    content: '';
    position: absolute;
    background: url('../images/icons/down_arow.png') 0 0 / 100% no-repeat;
    z-index: 1100;
    width: 10px;
    height: 10px;
    top: -4px;
    left: 105px;
    transition: 0.2s ease-out;
}

.content-header__portfolio:hover span::after {
    transform: rotateX(180deg) rotateY(180deg);
}



.content-footer {
    position: relative;
    margin-bottom: 30px;
    text-align: right;
}

.content-footer__links {}

.content-footer__instagram i {
    font-size: 30px;
    color: hsl(0, 29%, 94%);
    padding-right: 20px;
}

.content-footer__instagram:hover {
    opacity: 80%;
}