body,
html {
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: 'M PLUS Rounded 1c', sans-serif;
    overflow: hidden;
}

button {
    padding: 0;
    border: 0;
    cursor: pointer;
}

* {
    margin: 0;
    list-style: none;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: hsl(0, 29%, 94%);
}

.wrapper {
    max-width: 100%;
    max-height: 100%;
    overflow: hidden;
}

.slick-track {
    display: flex;
}

.wrapper img {
    width: 100%;
    height: 100vh;
    object-fit: cover;
}



.content-wrapper {
    position: absolute;
    z-index: 1000;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}


.content {
    position: relative;
    max-width: 1350px;
    margin: 0 auto;
    height: 100%;
}

.conten-row {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-between;
    flex: 1 1 auto;
}

.content-header {
    margin-top: 30px;
}




.content-header__row {
    display: flex;
    justify-content: space-between;
    flex: 1 1 auto;

}

.content-header__column1 {
    width: fit-content;
    margin-left: 20px;
}

.content-header__image {
    width: 50%;
    margin: 0 auto;
}

.content-header__image img {
    width: 100%;
    height: 100%;
}

.content-header__contact {
    text-align: center;
    line-height: 22px;
    letter-spacing: 2px;
}

.content-header__name {
    font-size: 24px;
}

.content-header__surname {
    font-weight: 900;
    font-size: 30px;
}






.content-header__column2 {
    padding-left: 40px;
}

/*Ссылки*/
.content-header__links {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.content-header__links a,
.content-header__links::after {
    font-weight: 500;
    font-size: 16px;
    letter-spacing: 5px;
}

.content-header__links .link-button {
    margin: 0px 40px 5px 0px;
}

.link-button {
    position: relative;
    transition: all 1s linear;
}


.content-header__links .link-button::after {
    content: '';
    background: url("../images/icons/star.svg") 0 0 / 100% no-repeat;
    position: absolute;
    width: 10px;
    height: 10px;
    top: 50%;
    right: -21px;
    transform: translateY(-50%);
}




.content-header__main {}

.content-header__portfolio {}

.content-header__price {}














.content-footer {
    position: relative;
    margin: 0px 15px 30px 0px;
    text-align: right;
}

.content-footer__links {}

.link {
    font-size: 30px;
    color: hsl(0, 29%, 94%);
    padding-right: 20px;
}

.link:last-child {
    padding: 0;
}

.link:hover {
    opacity: 80%;
}


@media (min-width: 900px) {
    .content-header__links .link-button:hover {
        opacity: 0.8;
    }

    .content-header__links .link-button:hover::after {
        opacity: 100%;
        animation: rotate 1s infinite linear forwards;
    }

    @keyframes rotate {
        0% {
            transform: translateY(-50%) rotate(0deg);
        }

        100% {
            transform: translateY(-50%) rotate(360deg);
        }

        30% {
            transform: translateY(-20%) rotate(108deg);
        }

        80% {
            transform: translateY(-70%) rotate(288deg);
        }
    }
}

.active::before {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    height: 2px;
    background-color: #fff;
    animation: active 1s linear forwards;

}

@keyframes active {
    0% {
        width: 0;
        transform: scaleX(-100%);
    }

    100% {
        width: calc(100% - 5px);
    }
}





@media (max-width : 480px) {
    .burger {
        position: fixed;
        top: 0;
        padding: 0;
        right: 0;
        width: var(--width);
        height: 100%;
        transition: all 0.4s linear;
        background-color: var(--bgc);
        z-index: 999;
        overflow: auto;
    }

    .burger .content-header__links {
        display: flex;
        flex-direction: column;
        margin-top: 40px;
    }

    .burger * {
        display: var(--display);
    }

    .burger .link-button {
        margin: 0;
        margin: 20px;
    }

    .burger__ico {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        top: 0;
        right: 0;
        margin: 20px 20px 0px 0px;
        position: fixed;
        width: 30px;
        height: 25px;
    }

    .burger__ico-item {
        display: block;
        height: 0px;
        width: 30px;
        border: 2px solid hsl(0, 29%, 94%);
    }

    .burger__ico-item:nth-child(1) {
        animation: var(--animation1) 0.4s linear forwards;
    }

    .burger__ico-item:nth-child(2) {
        animation: var(--animation2) 0.4s linear forwards;
    }

    .burger__ico-item:nth-child(3) {
        animation: var(--animation3) 0.4s linear forwards;
    }

    @keyframes cross-1 {
        0% {}

        100% {
            transform: translateY(340%) rotate(45deg);
        }
    }

    @keyframes cross-2 {
        0% {}

        100% {
            transform: translateY(-340%) rotate(-45deg);
        }
    }

    @keyframes disapear {
        0% {}

        100% {
            visibility: hidden;
            opacity: 0;
            transform: translateX(-325%);
        }
    }

    @keyframes cross-1-reverse {
        0% {
            transform: translateY(340%) rotate(45deg);
        }

        100% {
            transform: translateY(680%) rotate(0deg);
        }
    }

    @keyframes cross-2-reverse {
        0% {
            transform: translateY(-340%) rotate(-45deg);
        }

        100% {
            transform: translateY(-680%) rotate(0deg);
        }
    }

    @keyframes disapear-reverse {
        0% {
            visibility: hidden;
            opacity: 0;
            transform: translateX(325%);
        }

        100% {}
    }
}
